.scenario {
    border: 0.1vmin solid var(--white);
    width: 20vmax;
    height: 3vmax;
    display: block;
    font-size: 1vmin;
    color: var(--white);
    margin: 1vmin 3vmin;
    text-align: center;
}

.scenario:hover {
    cursor: pointer;
    background-color: var(--black);
}