.selectionArea  {
    background-image: linear-gradient(var(--serpent), var(--serpent), var(--black));
    width: 80vw;
    height: 100vh;
    align-self: center;
    margin: 10vmin;
    padding: 5vmin;
    border: .5vmin double var(--white);
    display: flex;
    justify-content: center;
}