.playerArea {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;

    .row1, .row2, .row3 {
        display: flex;
        justify-content: space-evenly;
    }

    .smallCard {
        width: 2vmin;
        height: 3.2vmin;
        margin: .25vmin;
        border: .1vmin solid var(--white);
        border-radius: 0.5vmin;
    }

    .stats {
        border: .1vmin solid var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 7vmin;
    }

    .investigatorCard {
        border: .1vmin solid var(--white);
        width: 7vmin;
        height: 5vmin;
    }
}