.navBar {
    background-image: linear-gradient(var(--serpent), var(--serpent), var(--black));
    color: var(--white);
    padding: .1vmin 3vmin;
    text-align: center;
    font-family: "Bigelow Rules", serif;
    letter-spacing: .5vmin;
}